<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Usuario</title>
</head>
<body>

<div style="text-align: center">
    <h1>Buscar Usuario</h1>
    <form th:action="@{/usuarios/buscar}" method="post">
        <label>Cedula:</label>
        <input type="text" name="cedula" required>
        <button type="submit">Buscar</button>
        <button type="reset">Limpiar</button>
    </form>
</div>
<hr>
<div>
    <p th:text="${mensaje}"></p>
</div>

<div th:if="${usuario != null}">
    <ul>
        <li><strong>Cedula:</strong>
            <span th:text="${usuario.cedula}"></span></li>
        <li><strong>Nombre:</strong>
            <span th:text="${usuario.nombre}"></span></li>
        <li><strong>Correo:</strong>
            <span th:text="${usuario.correo}"></span></li>
        <li><strong>Rol:</strong>
            <span th:text="${usuario.rol}"></span></li>
    </ul>
    <form th:action="@{/usuarios/actualizar/{cedula}(cedula=${usuario.cedula})}" method="get">
        <button type="submit">Actualizar</button>
    </form>
    <form th:action="@{/usuarios/eliminar/{cedula}(cedula=${usuario.cedula})}" method="post">
        <button type="submit">Eliminar</button>
    </form>
</div>
<hr>
<div>
    <a th:href="@{/}">Regresar</a>
</div>
</body>
</html>