<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Calificaciones</title>
</head>
<body>
<div style="text-align: center">
    <h1>Listar Calificaciones</h1>
</div>
<hr>
<div th:if="${calificaciones.isEmpty()}">
    <p>No hay calificaciones registradas.</p>
</div>

<div>
    <p th:text="${mensaje}"></p>
</div>

<div th:if="${not #lists.isEmpty(calificaciones)}">
    <table border="1" style="margin: 0 auto; text-align: center;">
        <tr>
            <th>ID</th>
            <th>Estudiante</th>
            <th>Docente</th>
            <th>Asignatura</th>
            <th>Carrera</th>
            <th>Universidad</th>
            <th>Periodo</th>
            <th>Actividad</th>
            <th>Nota</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="calificacion : ${calificaciones}">
            <td th:text="${calificacion.cid}"></td>
            <td th:text="${calificacion.estudiante}"></td>
            <td th:text="${calificacion.docente}"></td>
            <td th:text="${calificacion.asignatura}"></td>
            <td th:text="${calificacion.carrera}"></td>
            <td th:text="${calificacion.universidad}"></td>
            <td th:text="${calificacion.periodo}"></td>
            <td th:text="${calificacion.actividadEvaluada}"></td>
            <td th:text="${calificacion.nota}"></td>
            <td th:text="${calificacion.fecha}"></td>
            <td>
                <form th:action="@{/calificacion/actualizar/{id}(id=${calificacion.cid})}" method="get"
                      style="display: inline;">
                    <button type="submit">Actualizar</button>
                </form>
                <form th:action="@{/calificacion/eliminar/{id}(id=${calificacion.cid})}" method="post"
                      style="display: inline;">
                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
    </table>
</div>
<hr>
<div>
    <a th:href="@{/}">Regresar</a>
</div>
<div>
    <a th:href="@{/calificacion/agregar}">Agregar Calificacion</a>
</div>
</body>
</html>
